<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form
      method="POST"
      action="/login"
    >
      <input
        type="text"
        name="username"
        placeholder="ID"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
      />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
